<header>
  <h2>Select an image question to search for the answer.</h2>
</header>

<div class="input-group">
  <input type="text" class="form-control" data-defaultValue="Image URL" [(ngModel)]="internetImageUrl" />
  <div class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="onInternetUrlSelected()">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      </button>
      <label class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-folder-open"></span>
          <input type="file" (change)="onFilesSelected($event)" accept="image/bmp,image/jpeg,image/png,image/gif" style="font-size: 50px;width: 120px;opacity: 0;filter:alpha(opacity=0);position: relative;top: -40px;left: -20px"
          />
      </label>
  </div>
</div>
<div class="flex">
  <div class="img-container">
  <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" alt="Selected Image" class="selected-image" />
</div>
  <bing [text]="textResult"></bing>   
</div>